body{
    margin: 0px;
    padding: 0px;
}


/* Header com a Logomarca da CCXP*/
.ccxp {
    height: 118px;
    background-color: #FFD900;
}

#img-ccxp{
    width: 202px;
    height: 63px;
    margin-top: 27px;
    margin-left: 58px;
    margin-bottom: 28px;
}


/*Area do texto e com o cronometro + video*/
.container {
    display: grid;
    grid-auto-flow: column;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #514988;
    width: 802px;
    height: 565px;
}

.informe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 676px;
    height: 149px;
}

#p1 {
    color: #F3C61F;
    text-align: center;
    font-family: Verdana;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 120px;
    margin-bottom: 0;
}

#p2 {
    color: #FFF;
    font-family: Verdana;  
    font-size: 30px;
    font-style: normal; 
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;  
}

#contexto {
    margin-top: 100px;
    margin-left: 64px;
    margin-right: 60px;
    color: #FFF;
    text-align: center;
    font-family: Verdana;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    color: #514988;
    text-align: center;
    font-family: Verdana;
    font-size: 55px;
    gap: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#video {
    margin-top: 63px;
    width: 670px;
    height: 350px;
}

#text-emotion {
    color: #E33881;
    text-align: center;
    font-family: Verdana;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 15px;
}


/*Texto para garantir os ingressos*/
#text-ingresso {
    color: #F3C61F;
    font-family: Verdana;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 50px;
}


/*Sessão dos tickets e botão de garantir o ingresso*/
.card {
    display: grid;
    grid-auto-flow: row;
}

.card-ingresso {
    display: flex;
    flex-direction: row;
    width: 800px;
    margin-bottom: 50px;
}

.btn-ingress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 206px;   
}

#btn-ingresso {
    width: 596px;
    height: 148px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #514988;
    color: #FFF;
    text-align: center;
    font-family: Verdana;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}





